.logo{

    display:flex; 
    background-color:black;
    justify-content:flex-start;
    padding:5px;
    text-align: center;


}
.premium{
    display:flex; 
    background-color:lightpink;
    justify-content:flex-start;
    padding:110px;
    text-align: center;
    flex-direction:column;

}
.button1{

color:white;
text-align: center;
background-color: brown;
border-radius:20px;
justify-content: center;
margin: auto;
padding:10px;
border-color:#d83519;
}



.button2{

    color:white;
    text-align: center;
    background-color:green;
    border-radius: 20px;
    width:fit-content;
    justify-content: center;
    margin: auto;
    padding: 15px;
    }





.thirdmusic{

    display:flex; 
    background-color:blue;
    justify-content:flex-start;
    padding:80px;
    text-align:center;
    flex-direction: column;
    
}

.webbrowser{

display: plex;
background-color: seagreen;
padding: 5px;
text-align: center;


}


.endlogo{

    display:flex; 
    background-color:black;
    justify-content:flex-start;
    padding:5px;
    text-align: center:


}