.logo{

    display:flex; 
    background-color:black;
    justify-content:flex-start;
    padding:5px;
    text-align: center;


}
.premium{
    display:flex; 
    background-color:#ffcdd2;
    justify-content:flex-start;
    padding:110px;
    text-align: center;
    flex-direction:column;
    
}


.thirdmusic{

    display:flex; 
    background-color:#2941ab;
    justify-content:flex-start;
    padding:80px;
    text-align:center;
    flex-direction: column;
    
}

.webbrowser{

display: plex;
background-color: seagreen;
padding: 5px;
text-align: center;


}


.endlogo{

    display:flex; 
    background-color:black;
    justify-content:flex-start;
    padding:5px;
    text-align: center:

}
  
.button1{
 background-color:crimson;
    border-radius:20px;
     margin: 20px;
}

.button2{

background-color:#1ed760;
border-radius:20px;

}