.logo{

    display:flex; 
    background-color:black;
    justify-content:flex-start;
    padding:5px;
    text-align: center;


}
.premium{
    display:flex; 
    background-color:lightpink;
    justify-content:flex-start;
    padding:110px;
    text-align: center;
    flex-direction:column;
    
}


.thirdmusic{

    display:flex; 
    background-color:blue;
    justify-content:flex-start;
    padding:80px;
    text-align:center;
    flex-direction: column;
    
}

.webbrowser{

display: plex;
background-color: seagreen;
padding: 5px;
text-align: center;


}


.endlogo{

    display:flex; 
    background-color:black;
    justify-content:flex-start;
    padding:5px;
    text-align: center:

}
  
.button2{

    border: none;
    color: white;
    padding: 4px;
    text-align: center;
    text-decoration:solid;
    background-color:blue;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-text-fill-color:darkgreen;
    

}